---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: teslamate
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      teslamate:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
              pullPolicy: Always
            envFrom:
              - secretRef:
                  name: teslamate-secret
        containers:
          app:
            image:
              repository: teslamate/teslamate
              tag: 2.2.0@sha256:db111162f1037a8c8ce6fe56e538a4432b8a34d3d6176916ba22d42ef7ee4b78
            env:
              TZ: Europe/Paris
              DISABLE_MQTT: "false"
              MQTT_HOST: mosquitto.automation.svc.cluster.local
            envFrom:
              - secretRef:
                  name: teslamate-secret
    service:
      app:
        controller: teslamate
        type: ClusterIP
        ports:
          http:
            port: &port 4000
    route:
      app:
        hostnames:
          - teslamate.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    resources:
      requests:
        cpu: 25m
        memory: 250Mi
      limits:
        memory: 500Mi
