[env]
# File paths
KUBECONFIG = '{{config_root}}/kubeconfig'
MINIJINJA_CONFIG_FILE = '{{config_root}}/.minijinja.toml'
TALOSCONFIG = '{{config_root}}/talosconfig'
JUST_UNSTABLE = "1"
# Directory paths
ROOT_DIR = '{{config_root}}'
BOOTSTRAP_DIR = '{{config_root}}/bootstrap'
KUBERNETES_DIR = '{{config_root}}/kubernetes'
SCRIPTS_DIR = '{{config_root}}/scripts'
TALOS_DIR = '{{config_root}}/talos'
# Included file paths
_.file = [
  "{{config_root}}/onepassword.env",
  "{{config_root}}/kubernetes/apps/system-upgrade/versions.env"
]

[settings]
experimental = true

[tools]
# Runtimes
node = "24.13.0"
python = "3.14.3"
uv = "0.9.29"
go = "1.25.7"
gum = "0.16.2"

# Mise
"slsa-verifier" = "2.7.0"
"aqua:sigstore/cosign" = "3.0.4"

# 1Password
"1password" = "2.31.1"
"1password-cli" = "2.31.1"

# S3
"aqua:aws/aws-cli" = "2.33.14"

# Flux Stuff
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:flux-iac/tofu-controller/tfctl" = "0.16.1"
"pipx:flux-local" = "8.1.0"

# Kubectl + Plugins
"aqua:kubernetes/kubectl" = "1.32.3"
"aqua:yannh/kubeconform" = "0.7.0"

# Misc K8S Tools
"aqua:kubernetes-sigs/kustomize" = "5.6.0"
"aqua:helm/helm" = "4.1.0"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:derailed/k9s" = "0.50.18"
"aqua:stern/stern" = "1.33.1"

# Talos Stuff
"aqua:siderolabs/talos" = "1.12.2"
"aqua:budimanjojo/talhelper" = "3.1.3"

# Misc Tools
"aqua:casey/just" = "1.46.0"
"go:github.com/minio/mc" = "RELEASE.2024-10-08T09-37-26Z"
"aqua:cert-manager/cmctl" = "2.4.0"
"aqua:cloudflare/cloudflared" = "2026.1.2"
"asdf:carnei-ro/asdf-cilium-cli" = "0.18.2"

# Linters
"pipx:yamllint" = "1.38.0"
"aqua:mikefarah/yq" = "4.52.2"
"aqua:jqlang/jq" = "1.7.1"
