[env]
# File paths
KUBECONFIG = '{{config_root}}/kubeconfig'
MINIJINJA_CONFIG_FILE = '{{config_root}}/.minijinja.toml'
SOPS_AGE_KEY_FILE = '{{config_root}}/age.key'
TALOSCONFIG = '{{config_root}}/talosconfig'
JUST_UNSTABLE = "1"
# Directory paths
ROOT_DIR = '{{config_root}}'
BOOTSTRAP_DIR = '{{config_root}}/bootstrap'
KUBERNETES_DIR = '{{config_root}}/kubernetes'
SCRIPTS_DIR = '{{config_root}}/scripts'
TALOS_DIR = '{{config_root}}/talos'
# Included file paths
_.file = [
  "{{config_root}}/onepassword.env",
  "{{config_root}}/kubernetes/apps/system-upgrade/versions.env"
]

[settings]
experimental = true

[tools]
# Runtimes
node = "24.11.1"
python = "3.14.0"
uv = "0.9.2"
go = "1.25.2"
gum = "0.16.2"

# Mise
"slsa-verifier" = "2.7.0"
"aqua:sigstore/cosign" = "3.0.2"

# 1Password
"1password" = "2.31.1"
"1password-cli" = "2.31.1"

# S3
"aqua:aws/aws-cli" = "2.31.37"

# Secret Encryption Stuff
"aqua:getsops/sops" = "3.11.0"
"aqua:FiloSottile/age" = "1.2.1"

# Flux Stuff
"aqua:fluxcd/flux2" = "2.7.3"
"aqua:flux-iac/tofu-controller/tfctl" = "0.15.1"
"pipx:flux-local" = "7.10.1"

# Kubectl + Plugins
"aqua:kubernetes/kubectl" = "1.32.3"
"aqua:yannh/kubeconform" = "0.7.0"

# Misc K8S Tools
"aqua:kubernetes-sigs/kustomize" = "5.6.0"
"aqua:helm/helm" = "3.19.2"
"aqua:helmfile/helmfile" = "1.1.7"
"aqua:derailed/k9s" = "0.50.16"
"aqua:stern/stern" = "1.33.0"

# Talos Stuff
"aqua:siderolabs/talos" = "1.11.2"
"aqua:budimanjojo/talhelper" = "3.0.39"

# Misc Tools
"aqua:casey/just" = "1.43.1"
"go:github.com/minio/mc" = "RELEASE.2024-10-08T09-37-26Z"
"aqua:cert-manager/cmctl" = "2.3.0"
"aqua:cloudflare/cloudflared" = "2025.9.1"
"asdf:carnei-ro/asdf-cilium-cli" = "0.18.2"

# Linters
"pipx:yamllint" = "1.37.1"
"aqua:mikefarah/yq" = "4.48.1"
"aqua:jqlang/jq" = "1.7.1"
