---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stirling-pdf
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: stirling-pdf
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      stirling-pdf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.2.0@sha256:9cd7ecf0b93032086f993f530f535b45c05b2bd768ec3d5df866d1d58046f2da
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Paris
              DOCKER_ENABLE_SECURITY: "false"
              SECURITY_ENABLE_LOGIN: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
              SYSTEM_DEFAULTLOCALE: "fr-FR"
              SYSTEM_ENABLEURLTOPDF: false
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 100m
                memory: 256M
              limits:
                memory: 1Gi
        #     securityContext:
        #       readOnlyRootFilesystem: true
        # pod:
        #   securityContext:
        #     runAsNonRoot: true
        #     runAsUser: 1024
        #     runAsGroup: 100
        #     fsGroup: 100
        #     fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: stirling-pdf
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.oxygn.dev"
          - pdf.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: stirling-pdf
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        advancedMounts:
          stirling-pdf:
            app:
              - path: /logs
                subPath: logs
              - path: /pipeline
                subPath: pipeline
              - path: /usr/share/tessdata
                subPath: tessdata
              - path: /tmp
                subPath: tmp
