---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: stirling-pdf
  interval: 1h
  values:
    controllers:
      stirling-pdf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.4.1@sha256:99e82be32a8bc70e99f284f5b2e1be582be05f7410e3707932fce973b0678419
              pullPolicy: IfNotPresent
            env:
              TZ: Europe/Paris
              DOCKER_ENABLE_SECURITY: "false"
              SECURITY_ENABLELOGIN: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "false"
              LANGS: "fr-FR"
              SYSTEM_DEFAULTLOCALE: fr-FR
              SYSTEM_ENABLEURLTOPDF: false
              # PUID: 1024
              # PGID: 100
              # UMASK: 022
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /api/v1/info/status
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 256M
              limits:
                memory: 1Gi
            # securityContext:
            #   readOnlyRootFilesystem: true
        # pod:
        #   securityContext:
        #     # runAsNonRoot: true
        #     runAsUser: 1024
        #     runAsGroup: 100
        #     fsGroup: 100
        #     fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: stirling-pdf
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.oxygn.dev"
          - pdf.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: stirling-pdf
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        advancedMounts:
          stirling-pdf:
            app:
              - path: /logs
                subPath: logs
              - path: /pipeline
                subPath: pipeline
              - path: /usr/share/tessdata
                subPath: tessdata
              - path: /tmp
                subPath: tmp
