---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ollama
  namespace: ai
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: ollama
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: nvidia-device-plugin
      namespace: kube-system
    - name: volsync
      namespace: volsync-system
  interval: 30m
  path: ./kubernetes/apps/ai/ollama/app
  postBuild:
    substitute:
      APP: ollama
      VOLSYNC_CAPACITY: 25Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: false
