---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: trivy-operator
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: trivy-operator
  interval: 1h
  path: ./kubernetes/apps/trivy-system/trivy-operator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: trivy-system
  wait: false
