---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: teslamate
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: teslamate
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
    - name: onepassword
      namespace: external-secrets
    - name: mosquitto
      namespace: automation
  interval: 1h
  path: ./kubernetes/apps/automation/teslamate/app
  postBuild:
    substitute:
      APP: teslamate
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: automation
  wait: false
