---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: silence-operator
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: silence-operator
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: silence-operator
      namespace: observability
  interval: 1h
  path: ./kubernetes/apps/observability/silence-operator/app
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: true
---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: silence-operator-silences
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: silence-operator-silences
  dependsOn:
    - name: silence-operator
      namespace: observability
  interval: 1h
  path: ./kubernetes/apps/observability/silence-operator/silences
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: observability
  wait: false
