---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flux-components
spec:
  namespaceSelector:
    matchNames:
      - flux-system
  podMetricsEndpoints:
    - honorLabels: true
      port: http-prom
  selector:
    matchExpressions:
      - key: app.kubernetes.io/component
        operator: In
        values:
          - helm-controller
          - source-controller
          - kustomize-controller
          - notification-controller
