---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: open-webui
  namespace: ai
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: open-webui
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: ollama
      namespace: ai
    - name: volsync
      namespace: volsync-system
  interval: 30m
  path: ./kubernetes/apps/ai/open-webui/app
  postBuild:
    substitute:
      APP: open-webui
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: ai
  timeout: 5m
  wait: false
