---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: omni-tools
spec:
  targetNamespace: self-hosted
  path: ./kubernetes/apps/self-hosted/omni-tools/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substitute:
      APP: omni-tools
      GATUS_SUBDOMAIN: tools
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
