---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: calibre
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      calibre:
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre
              tag: version-v7.21.0@sha256:e1c5964a0ce8781978e6fbfd0702804c189819aa4d5fadf2ade399678b5b2120
            env:
              TZ: "Europe/Paris"
              PUID: "1000"
              PGID: "1000"
            resources:
              requests:
                cpu: 15m
                memory: 324M
              limits:
                memory: 512M
    service:
      app:
        controller: calibre
        ports:
          http:
            port: 8080
      webserver:
        enabled: true
        controller: calibre
        ports:
          webserver:
            enabled: true
            port: 8081
            protocol: TCP
            targetPort: 8081
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.10.98.173
        externalTrafficPolicy: Local
    route:
      app:
        hostnames:
          - calibre.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8081
    persistence:
      config:
        enabled: true
        existingClaim: calibre
        globalMounts:
          - path: /config

      media:
        type: nfs
        server: funkstation.internal
        path: /volume2/Media
        globalMounts:
          - path: /media
