machine:
  type: controlplane
  network:
    hostname: k8s-2
  install:
    # extensions :
    # - siderolabs/qemu-guest-agent
    # - siderolabs/i915
    # - siderolabs/intel-ucode
    # - siderolabs/mei
    # - siderolabs/nvidia-container-toolkit-lts
    # - siderolabs/nonfree-kmod-nvidia-lts
    image: factory.talos.dev/installer/5793512901017d8f106f53662283ab68a8a9987398bae1624e307c3aee67405d:{{ ENV.TALOS_VERSION }}
    extraKernelArgs:
      - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
      - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
  sysctls:
    net.core.bpf_jit_harden: "1"
  udev:
    rules:
      - # Intel GPU
        SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  kernel:
    modules:
      - name: nbd
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"


