---
machine:
  network:
    hostname: k8s-1
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
  install:
    # extensions :
    # - siderolabs/i915  # Intel iGPU
    # - siderolabs/intel-ucode  # Intel iGPU
    # - siderolabs/mei  # Intel iGPU
    # - siderolabs/qemu-guest-agent # Proxmox
    # - siderolabs/nfsrahead # NFS Performance
    # - siderolabs/util-linux-tools # Tools
    image: factory.talos.dev/nocloud-installer/3f79e53cb76ea172832b11bf3cf7aa761f2a2883e9a1cb5be80500f9a5bf6983:{{ ENV.TALOS_VERSION }}
