---
machine:
  network:
    hostname: k8s-2
  nodeLabels:
    topology.kubernetes.io/zone: m
    intel.feature.node.kubernetes.io/gpu: "true"
  type: controlplane
  install:
    # extensions :
    # - siderolabs/i915  # Intel iGPU
    # - siderolabs/intel-ucode  # Intel iGPU
    # - siderolabs/mei  # Intel iGPU
    # - siderolabs/qemu-guest-agent # Proxmox
    # - siderolabs/nfsrahead # NFS Performance
    # - siderolabs/nvidia-container-toolkit-lts # Nvidia GPU
    # - siderolabs/nonfree-kmod-nvidia-lts # Nvidia GPU
    # - siderolabs/util-linux-tools # Tools
    image: factory.talos.dev/installer/58c48e6c3f8344a6217baf7cef7018922d98c25d5dff76272f6303c3c34a398d:{{ ENV.TALOS_VERSION }}
    extraKernelArgs:
      - i915.enable_guc=3                   # Meteor Lake CPU / iGPU
      - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU / iGPU
  sysctls:
    net.core.bpf_jit_harden: "1"
  udev:
    rules:
      - # Intel GPU
        SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  kernel:
    modules:
      - name: nbd
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
