---
machine:
  type: worker
  install:
    image: factory.talos.dev/metal-installer/{{ ENV.SCHEMATIC }}:v1.13.5
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
  nodeLabels:
    topology.kubernetes.io/zone: m
  nodeTaints:
    workload: "ai:NoSchedule"
  sysctls:
    net.core.bpf_jit_harden: "1"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-3
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "a0:36:9f:53:3c:da"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links: [net0]
bondMode: active-backup
mtu: 1500
up: true
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
