---
machine:
  network:
    hostname: k8s-1
    nameservers:
      - 10.10.10.1
    interfaces:
      - interface: eth0
        dhcp: false
        vlans:
          - vlanId: 110
            addresses:
              - "10.10.10.11/24"
            routes:
              - network: 0.0.0.0/0
                gateway: 10.10.10.1
          - vlanId: 130
            dhcp: false
          - vlanId: 170
            dhcp: false
      - interface: eth1
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.21/32
        routes:
          - network: 169.254.255.20/32
            metric: 2048
          - network: 169.254.255.22/32
            metric: 2048
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
