---
machine:
  network:
    hostname: k8s-2
    interfaces:
      - interface: eth1
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.22/32
        routes:
          - network: 169.254.255.20/32
            metric: 2048
          - network: 169.254.255.21/32
            metric: 2048
      - interface: eth2
        dhcp: false
      - interface: eth3
        dhcp: false
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
