---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: komga
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      komga:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: gotson/komga
              tag: "1.23.6@sha256:09129eae6eff50337f039bd6e99d995126cb03226950c80e9864cbc05f10a661"
            env:
              TZ: Europe/Paris
              SERVER_PORT: &port 80
              KOMGA_CONFIGDIR: /config
              LOGGING_FILE_NAME: /dev/stdout
            resources:
              requests:
                cpu: 15m
                memory: 256Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: komga
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.oxygn.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: komga

      media:
        type: nfs
        server: funkstation.internal
        path: /volume2/Media/Comics
        globalMounts:
          - path: /media/comics
            readOnly: true

      books:
        type: nfs
        server: funkstation.internal
        path: /volume2/Media/Books/readarr
        globalMounts:
          - path: /media/books
            readOnly: true
