---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-assistant
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: home-assistant-secret
    template:
      engineVersion: v2
      data:
        HASS_ELEVATION: "{{ .HASS_ELEVATION }}"
        HASS_LATITUDE: "{{ .HASS_LATITUDE }}"
        HASS_LONGITUDE: "{{ .HASS_LONGITUDE }}"
        HASS_COUNTRY: "{{ .HASS_COUNTRY }}"
        HASS_CURRENCY: "{{ .HASS_CURRENCY }}"
        HASS_VSCODE_TOKEN: "{{ .HASS_VSCODE_TOKEN }}"
  dataFrom:
    - extract:
        key: home-assistant
