---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 1h
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.3@sha256:711c90c7e6f73268a212806bcd9235b6917ae9f81012041aa2dfc895ec2cc558
            env:
              TZ: Europe/Paris
              HASS_HTTP_TRUSTED_PROXY_1: 10.10.98.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
      code-server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /mnt/code-server
              - --extensions-dir
              - /mnt/code-server
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: https://hass.oxygn.dev
              HASS_TOKEN:
                secretKeyRef:
                  name: home-assistant-secret
                  key: HASS_VSCODE_TOKEN
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "iot",
            "namespace": "kube-system",
            "ips": ["10.10.30.10/24"],
            "mac": "c6:07:27:af:fb:53"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1024
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: home-assistant
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 8123
        primary: true
      code-server:
        controller: code-server
        ports:
          code-server:
            port: 12321
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.oxygn.dev"
          - hass.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 8123
      code-server:
        hostnames:
          - hass-code.oxygn.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: code-server
                port: 12321
    persistence:
      config:
        existingClaim: home-assistant
        globalMounts:
          - path: /config
            subPath: config
        advancedMounts:
          code-server:
            code-server:
              - path: /mnt/code-server
                subPath: code-server
      config-cache:
        existingClaim: home-assistant-cache
        globalMounts:
          - path: /config/.venv
      tmp:
        type: emptyDir
