---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflare-tunnel
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: cloudflare-tunnel
  interval: 1h
  path: ./kubernetes/apps/network/cloudflare-tunnel/app
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cloudflare-tunnel-id-secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
