---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: weave-gitops
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cluster-user-auth
    template:
      engineVersion: v2
      data:
        # Admin User
        username: "{{ .WEAVE_USER }}"
        password: "{{ .WEAVE_PASS }}"
  dataFrom:
    - extract:
        key: weave-gitops
