---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/volsync.backube/kopiamaintenance_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
  namespace: volsync-system
spec:
  enabled: true
  trigger:
    schedule: 0 */8 * * *
  repository:
    repository: volsync-maintenance-secret
