---
version: v1alpha1
machine:
  ca:
    crt: op://home-ops/talos/MACHINE_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://home-ops/talos/MACHINE_CA_KEY
    {% endif %}
  certSANs:
    - 127.0.0.1
    - 10.10.98.254
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.IS_CONTROLLER %}
    kubernetesTalosAPIAccess:
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
      enabled: true
    {% endif %}
    rbac: true
    stableHostname: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        nfsvers=4.1
        hard=True
        nconnect=16
        noatime=True
  install:
    disk: /dev/sda
    extraKernelArgs:
      - -init_on_alloc                      # Less security, faster puter
      - -init_on_free                       # Less security, faster puter
      - -selinux                            # Less security, faster puter
      - apparmor=0                          # Less security, faster puter
      - init_on_alloc=0                     # Less security, faster puter
      - init_on_free=0                      # Less security, faster puter
      - intel_iommu=on                      # PCI Passthrough
      - iommu=pt                            # PCI Passthrough
      - mitigations=off                     # Less security, faster puter
      - security=none                       # Less security, faster puter
      - talos.auditd.disabled=1             # Less security, faster puter
    image: factory.talos.dev/metal-installer/05b4a47a70bc97786ed83d200567dcc8a13f731b164537ba59d5397d668851fa:v1.11.5
    wipe: false
  kernel:
    modules:
      - name: nbd
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      featureGates:
        ImageVolume: true
      serializeImagePulls: false
    extraMounts:
      - destination: /var/openebs/local
        type: bind
        source: /var/openebs/local
        options: ["bind", "rshared", "rw"]
    image: ghcr.io/siderolabs/kubelet:v1.34.2
    nodeIP:
      validSubnets:
        - 10.10.98.0/24
  network:
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - driver: e1000e
              hardwareAddr: bc:24:11:ab:b8:*
          mode: active-backup
        dhcp: true
        vlans:
          - # IOT
            vlanId: 130
            dhcp: false
            # addresses:
            #   - 10.10.30.24/24
          - # VPN
            vlanId: 170
            dhcp: false
            # addresses:
            #   - 10.10.70.24/24
        vip:
          ip: 10.10.98.254
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: main
  sysctls:
    fs.inotify.max_user_watches: 1048576     # Watchdog
    fs.inotify.max_user_instances: 8192      # Watchdog
    net.core.default_qdisc: fq               # 10Gb/s
    net.core.rmem_max: 67108864              # 10Gb/s | Cloudflared / QUIC
    net.core.wmem_max: 67108864              # 10Gb/s | Cloudflared / QUIC
    net.ipv4.neigh.default.gc_thresh1: 4096  # Prevent ARP cache overflows
    net.ipv4.neigh.default.gc_thresh2: 8192  # Prevent ARP cache overflows
    net.ipv4.neigh.default.gc_thresh3: 16384 # Prevent ARP cache overflows
    net.ipv4.tcp_congestion_control: bbr     # 10Gb/s
    net.ipv4.tcp_fastopen: 3                 # Send and accept data in the opening SYN packet
    net.ipv4.tcp_mtu_probing: 1              # 10Gb/s | Jumbo frames
    net.ipv4.tcp_rmem: 4096 87380 33554432   # 10Gb/s
    net.ipv4.tcp_wmem: 4096 65536 33554432   # 10Gb/s
    net.ipv4.tcp_window_scaling: 1           # 10Gb/s
    sunrpc.tcp_slot_table_entries: 128       # 10Gb/s | NFS
    sunrpc.tcp_max_slot_table_entries: 128   # 10Gb/s | NFS
    user.max_user_namespaces: 11255          # User Namespaces
    vm.nr_hugepages: 1024                    # PostgreSQL
  token: op://home-ops/talos/MACHINE_TOKEN
cluster:
  ca:
    crt: op://home-ops/talos/CLUSTER_CA_CRT
    {% if ENV.IS_CONTROLLER %}
    key: op://home-ops/talos/CLUSTER_CA_KEY
    {% endif %}
  clusterName: main
  controlPlane:
    endpoint: https://10.10.98.254:6443
  id: op://home-ops/talos/CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.97.0.0/16
    serviceSubnets:
      - 10.96.0.0/16
  secret: op://home-ops/talos/CLUSTER_SECRET
  token: op://home-ops/talos/CLUSTER_TOKEN
  {% if ENV.IS_CONTROLLER %}
  aggregatorCA:
    crt: op://home-ops/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://home-ops/talos/CLUSTER_AGGREGATORCA_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - 127.0.0.1
      - 10.10.98.254
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true"
      feature-gates: ImageVolume=true,MutatingAdmissionPolicy=true
      runtime-config: admissionregistration.k8s.io/v1beta1=true
    image: registry.k8s.io/kube-apiserver:v1.34.2
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.34.2
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 10.10.98.0/24
    ca:
      crt: op://home-ops/talos/CLUSTER_ETCD_CA_CRT
      key: op://home-ops/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.34.2
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.34.2
  secretboxEncryptionSecret: op://home-ops/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  serviceAccount:
    key: op://home-ops/talos/CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
