---
customization:
  extraKernelArgs:
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
  systemExtensions:
    officialExtensions:
      - siderolabs/qemu-guest-agent # Proxmox
