---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: weave-gitops
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: weave-gitops
  dependsOn:
    - name: onepassword
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/flux-system/weave-gitops/app
  postBuild:
    substitute:
      APP: weave-gitops
      GATUS_SUBDOMAIN: gitops
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: flux-system
  wait: false
