---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
kind: Kustomization
namespace: flux-system
components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./flux-instance/ks.yaml
  - ./flux-operator/ks.yaml
  - ./weave-gitops/ks.yaml
