---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      mealie:
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.5.0
              pullPolicy: IfNotPresent
            env:
              TZ: "Europe/Paris"
              PUID: 1000
              PGID: 1000
              DEFAULT_EMAIL: "postmaster@oxygn.dev"
              ALLOW_SIGNUP: false
              API_PORT: &port 9000
              AUTO_BACKUP_ENABLED: false
              BASE_URL: https://mealie.oxygn.dev
              SMTP_HOST: smtp-relay.kube-system.svc.cluster.local.
              SMTP_PORT: 25
              SMTP_FROM_NAME: mealie@oxygn.dev
              SMTP_AUTH_STRATEGY: none
              SMTP_FROM_EMAIL: mealie@oxygn.dev
              TOKEN_TIME: 720
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
    service:
      app:
        controller: mealie
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["{{ .Release.Name }}.oxygn.dev"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      api-data:
        enabled: true
        existingClaim: mealie
        globalMounts:
          - path: /app/data/
