---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-instance
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: flux-instance
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  interval: 1h
  path: ./kubernetes/apps/flux-system/flux-instance/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: flux-system
  wait: false
