---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
kind: Kustomization
namespace: actions-runner-system
components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./actions-runner-controller/ks.yaml
