---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: audiobookshelf
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: audiobookshelf
  components:
    - ../../../../components/nfs-scaler
    - ../../../../components/volsync
  dependsOn:
    - name: volsync
      namespace: volsync-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: keda
      namespace: observability
  interval: 1h
  path: ./kubernetes/apps/media/audiobookshelf/app
  postBuild:
    substitute:
      APP: audiobookshelf
      VOLSYNC_CAPACITY: 1Gi
      GATUS_PATH: /ping
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false
