---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app trivy-operator
  namespace: flux-system
spec:
  targetNamespace: observability
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 10m
  path: ./kubernetes/apps/observability/trivy-operator/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
    namespace: flux-system
  wait: false
  dependsOn:
    - name: kube-prometheus-stack
