---
# yaml-language-server: $schema=https://k8s-schemas.oxygn.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: webhook
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: webhook
  interval: 1h
  path: ./kubernetes/apps/self-hosted/webhook/app
  postBuild:
    substitute:
      APP: webhook
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  wait: false
